
.cube a {
	display: block;
	text-decoration: none;

	width: 20px;
	height: 20px;
	background-color: black;
 padding:10px 10px 10px 10px;
 margin: 0 auto;
   font-family:Lack;

      font-size: 10px;

      font-weight: bold;
      color: #ffffff;
      text-align: center;
}





@font-face {
  font-family: "Lack";
  src: url("fonts/Lack-Regular.woff") format("woff2");

}

@font-face {

  font-family: "Mourier";
  src: url("fonts/Mourier.woff") format("woff2");
}

@font-face {

  font-family: "Happytimes";
  src: url("fonts/happy-times-at-the-ikob-webfont.woff") format("woff2");
}


.flex {
	display: flex;
	width: 700;

    margin-right: 45px;
    margin-left: 45px;
}



.cyan {

color: cyan;
}

h1 {

	
	font-family: Happytimes;
	
	font-size: 300px;
	line-height: 300px;
	
	width: 200px;

	position: absolute;



	
}

.mourier {
font-family: Mourier;

}

h2{
font-family: Lack;


	font-size: 50px;
	line-height: 52px;
	
	margin-left: 10px;

	position: relative;
	

		
}

.skewy { transform: skewY(20deg);


}

.skewyopp { transform: skewY(-20deg);


}



p{

font-family: Lack;
	width: 300px;
	font-size: 15px;

	line-height: 17px;
	 
	  margin-right: 200px;
	  padding:40px 40px 40px 40px;


	

	
}

.alignright{

	text-align: right;
}


flex-end {

	align-self: flex-end;
}

.rotate {

	transform: rotate(47.5deg);
}

.flex-vertical {

  display: flex;

  width: 800px;
  flex-direction: column;
  margin-right: 800px;

}

.black {
	background-color: black;
}


 .width
 { width: 400px;}


.topmargin {

	 margin-top: 300px;
}

	
