
div {

	

align-content: center;
margin: 100px auto;



}


@font-face {
  font-family: "Lack";
  src: url("fonts/Lack-Regular.woff") format("woff2");

}

@font-face {

  font-family: "Mourier";
  src: url("fonts/Mourier.woff") format("woff2");
}

@font-face {

  font-family: "Happytimes";
  src: url("fonts/happy-times-at-the-ikob-webfont.woff") format("woff2");
}

.flex {
	display: flex;
	width: 500;

    margin-right: 45px;
    margin-left: 45px;
}

.flex-vertical {

	display: flex;
	height: 2000px; 
	width: 800px;
	flex-direction: column;
	justify-content: flex-center;
}

.cyan {

color: cyan;
}

h1 {

	font-family: Mourier;
	
	font-size: 200px;
	line-height: 200px;
	
}

p{

font-family: Happytimes;
	width: 300px;
	font-size: 12px;

	line-height: 14px;
	position: relative;
	
}

.bigp {
	font-size: 24px;
}

h2{

font-family: Lack;
width: 300px;
	font-size: 47px;
	line-height: 50px;
	position: fixed;
	
}
	
}